<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzq.dao.GoodsDao">
    <select id="selectGoods" resultType="com.lzq.model.Goods">
        SELECT
            goodsId,goodsName,goodsPrice,goodsCount
        FROM
             goods
    </select>
    <insert id="insertGoods" parameterType="com.lzq.model.Goods" useGeneratedKeys="true">
        INSERT INTO goods values(#{goodsId},#{goodsName},#{goodsPrice},#{goodsCount})
    </insert>


    <update id="updateGoods" parameterType="java.lang.Integer">
        UPDATE goods
        SET goodsCount=goodsCount-1
        WHERE goodsId=#{id} and goodsCount>0
    </update>

</mapper>